.ReactModal__Overlay {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75) !important;
  transition: all 500ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 1 !important;
}

.ReactModal__Overlay--before-close {
  opacity: 0 !important;
}

.ReactModal__Content {
  background: rgb(11 11 11) !important;
  border: none !important;
  border-radius: 10px;
}

.modalContent {
  max-height: 609px;
  overflow-x: hidden;

  .modalHeader {
    display: flex;
    justify-content: flex-end;
  }

  .modalbody {
    padding: 20px;

    .modal-body-header {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      p:first-child {
        margin-right: 10px;
        margin-bottom: 0;
      }

      .modal-release-date {
        font-size: 8px;
        color: #ffffff7d;
      }
    }

    p {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .genres {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 10px;

      div {
        padding: 5px;
        border: solid white 1px;
        border-radius: 25px;
        margin-right: 10px;
        font-size: 10px;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .modal-overview {
      font-size: 13px;
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      div {
        transition: all ease 0.2s;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: calc(24% - 1em);
        height: 170px;
        margin-bottom: 1em;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 10px;
      }
    }
  }

  & {
    scrollbar-width: auto;
    scrollbar-color: #4a4a4a #5e5e5e;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(11, 11, 11);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
}

.no-scroll {
  position: "fixed" !important;
  top: 0;
  left: 0;
}

.rating {
  display: flex;
  align-items: center;
  width: 7%;
  justify-content: space-between;

  svg {
    color: yellow;
  }
}
