@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;

  & {
    scrollbar-width: auto;
    scrollbar-color: #4a4a4a #5e5e5e;
  }

  &::-webkit-scrollbar {
    width: 15px;
  }

  &::-webkit-scrollbar-track {
    background: rgb(11, 11, 11);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ffffff;
  }
}

html,
body {
  // position: relative;
  height: 100%;

  body {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    color: #fff;
    margin: 0;
    padding: 0;
  }

  .app {
    // width: 95%;
    background: #111;
    margin: auto;
  }

  .homeBannerMovie {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}

// ReactModal__Overlay ReactModal__Overlay--after-open
